<div class="container" id="search-bar-container">
  <div class="row">
    <div class="well">
      <form>
          <fieldset>
              <div class="form-group">
                  <label for="query">Search:</label>
                  <input type="text" class="typeahead" name="query" id="query" placeholder="Start typing something to search...">
                  <input type="text" class="typeahead" name="location-ta" id="location-ta" placeholder="Location...">
                  <button type="submit" class="btn btn-primary">Search</button>
              </div>
          </fieldset>
      </form>
    </div>
  </div>
</div>
<!-- <script type='text/javascript' src='/js/jquery-3.3.1.min.js'> -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="/js/typeahead.bundle.js"></script>
<script>
  $.getJSON('../../data/search-suggestions/data.json', function (data) {
      // console.log(data);1`
      var localss = data;
      // var results = [];
      var substringMatcher = function (strs) {
        return function findMatches(q, cb) {
          var matches, substrRegex;
          matches = [];
          substrRegex = new RegExp(q, 'i');

          $.each(strs, function (i, str) {
            if (substrRegex.test(str.name)) {
              matches.push(str);
            }
          });

          cb(matches);
        };
      };

      $('#location-ta').typeahead({
        minLength: 1,
        highlight: true
      },
      {
        name: 'name',
        display: 'value',
        source: substringMatcher(localss)
      });
  $('.tt-query').css('background-color','#fff');
    });
</script>